*{
    margin: 0;
    padding: 0;
    color:white;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: linear-gradient(to top left,#43003C 1%,#2E0068 15%,#100070 28%,#120147 49%,#140C48 67%,#060123 84%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* visibility: hidden; */
    /* overflow: hidden; */
    transition:filter 2s linear , opacity 3.5s linear;
    /* position: relative; */
}
.gred1{
    background-image: linear-gradient(60deg,#09e1e162 10%,#17005800 50%) ;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    transition: opacity 2s linear;

}
.gred2{
    background-image: radial-gradient(closest-side at 40% 40% , rgba(2, 3, 49, 0.8),rgba(20, 20, 221, 0.149));
    width: 100vw;
    height: 100vh;
    transition: opacity 2s linear;
}
.gred3{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient( closest-side at 95% 4%, rgba(2, 76, 146, 0.845) 30%, rgba(189, 68, 44, 0.05) 1000%, rgba(135, 207, 235, 0) 5000%);
    transition: opacity 2s linear;
}
.changeTheme{
    height: 100vh;
    transition: all 2s linear;
    /* visibility: hidden; */
    /* background-color: rgba(255, 255, 255, 0.2); */
}
nav{
    position: relative;
    content: "";
    clear: both;
    display: table;
}
nav h1#title{
    /* visibility: hidden; */
    /* display: none; */
    width: 90%;
    float: left;
    font-size: min(7vw,40px);
    margin-top: 15px;
    transition: all .05s ease-out;
}
.menuTriggers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4vh;
}
#menuicon{
    width: 100%;
    float: right;
    position: absolute;
    cursor: pointer;
}
.menu{
    display: none;
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: rgba(6, 6, 6, 0);
}
@keyframes menuIn {
    from{
        margin-top: 0;
    }   
    to{
        margin-top: 1vh;
    }
}
@keyframes menuOut{
    
    from{margin-top: 1vh;display: flex;}
    to{margin-top: 0;display: none;}

}
.menuitem svg{
    display: inline-block;
    fill: rgba(255, 255, 255, 0.8);
    width: min(10vw,60px);
    opacity: 0.9;
}
.menuitem h4{
    font-size: min(3.3vw,19px);
    margin-top: 5px;
}
.menuitem{
    display: inline-block;
    margin: auto min(10px,2vw);
    background-color: rgba(255, 255, 255, 0.1);
    padding: min(2vw,15px) 0;
    width: min(17.8vw,100px);
    border-radius: min(2vw,15px);
    cursor: pointer;
    text-align: center;
}
#menuClose{
    visibility: hidden;
    fill: white;
    width:min(7vw,35px);
    position:absolute;
    left: 30%;
}
main,nav{
    margin: auto;
    padding: 1.5vw;
    width: 90%;
}

#birthTicker{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: max(10px,2vw);
    margin: 4vh auto;
}
#birthTicker div{
    /* display: none; */
    padding: 2vh 2vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: min(18px,2.5vw);
}
#birthTicker div#mili{
    display: none;
}
#birthTicker h2{
    font-size: 20vw;
}
#birthTicker p{
    font-size: 5vw;
    font-weight: 900;
}
.clock{
    /* display: none; */
    font-size: min(5vw,35px);
    margin: auto;
    text-align: center;
    transition-property: all;
}
.about,.themes,.profile,.setupForm,.profileSetupMsg,.betterExperienceMsg{
    visibility: hidden;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translateX(-50%);
    width: min(80vw,600px);
    height: 70vh;
    padding: 1vh 1vw;
    font-size: min(5vw,23.5px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 20px solid transparent;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    text-align: center;
    list-style-position: inside;
}

.setupForm form *{
    margin: auto;
    font-size: min(5vw,25px);
    text-align: center;
    display: block;
    color: white;
    width: min(100%,400px);
    height: min(6vh,40px);
    border-radius: min(3vw,10px);
    padding: min(1vh,4px) min(5vw,20px);
    border: none;
}
.setupForm label{
    font-size: min(6vw,30px);
    margin: 15px auto 10px;
}
.setupForm input{
    background-color: rgba(255, 255, 255, .1);
}
@keyframes optionsInfoIn {
    from {
        height: 7vh;
        top:90%
    }
    to{
        height: 70vh;
        top: 135%;
    }
}
@keyframes optionsInfoOut{
    from {
    }
    to{
        height: 0vh;
        visibility: hidden;
        top: 120%;
    }
}
.about *,.profile *{
    margin: 15px 0;
}
.themes{
    font-size: min(5vw,30px);
}
.themes div input{
    min-width: min(8vw,36px);
    min-height: min(8vh,36px);
    margin-top: min(.5vh,10px);
}
.themes div{
    margin: 1vh;
}
.themes hr{width:min(30vw,250px);height: 1px;margin-top: 0px;opacity: .3;margin: auto;}
.profile .profileInfo{
    font-size: min(5vw,25px);
    /* visibility: visible; */
}
.profile button,#setBtn{
    /* visibility: visible; */
    border : none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.974),-1px -.5px 5px rgba(0, 0, 0, 0);
    background-color: #001d74ff;
    width: min(50%,200px);
    height: min(10vw,50px);
    font-size: min(6vw,30px);
    font-weight: 900;
    cursor: pointer;
    position: relative;
    margin: 5vh auto 0;
}
@keyframes setUpIn {
    0%,80%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes setUpOut {
    0%{opacity: 1;}
    10%,100%{opacity: 0;}
}
.profile button:hover,#setBtn:hover{background-color: #43003C;}

.profile button:active,#setBtn:active{
    transform: translate(2px,3px);
    background-color: #100070;
}
#closeOption{
    visibility: hidden;
    position: absolute;
    /* top: 88vh; */
    left: 50%;
    width:min(7vw,35px);
    margin-right:-25vw;
    transform: translateX(-50%);
    bottom: -83vh;
    text-align: center;
}

.alerts{
    position: relative;
    /* background: #000; */
    /* height: 0; */
}

.profileSetupMsg,.betterExperienceMsg{
    visibility: visible;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: -100vh;
    /* bottom: 55%; */
    font-size: min(2.5vw,13px);
    width: min(90%,580px);
    height: fit-content;
    border: 1px solid;
    padding: min(1.5vw,8px) 3vw ;
    line-height: 1.5;
    /* top: -40%; */
    transition: top 2.5s ease;
}
.profileSetupMsg h2,.betterExperienceMsg h2{
    text-align: left;
    margin-bottom: min(1vw,10px);
}

#ok{
    background-color: rgba(255, 255, 255, 0.2); margin: 2% ;  width: min(10vw,100px) ; border-radius: min(12%,6px); font-size: min(4.5vw,32px); border: none; text-align: center;cursor: pointer;
}

#set{
    background-color: rgba(255, 255, 255, 0.2); margin: 2% ;  width: min(10vw,100px) ; border-radius: min(12%,6px); font-size: min(4.5vw,32px); border: none; text-align: center;cursor: pointer;
}
#set:hover,#ok:hover{background-color: rgba(255, 255, 255, 0.3);}

#closeMsg{
    background-color: rgba(255, 255, 255, 0);font-size: min(4vw,25px);  width: 12px; border: none; position: absolute; right: min(1.5vw,9px); bottom: 3px;cursor: pointer;
}
.betterExperienceMsg{
    top:79vh;
    opacity: 0;
    transition: opacity 1.5s ease;
}



/* .gred2{
    background-image:radial-gradient(closest-side at 40% 40% , rgba(35, 115, 227, 0.762),rgba(102, 82, 255, 0.318));
}
body{
    background-image:linear-gradient(to top left,#ce0d37 1%,#7642b5 15%,#6b54ef 28%,#574e72 49%,#6048f9 67%,#b65151 84%);
}
.gred1{
    background-image:linear-gradient(60deg,#0008ff96 10%,#3061ff15 50%);
}
.gred3{
    background-image:radial-gradient( closest-side at 95% 4%, rgba(36, 171, 255, 0.622) 30%, rgba(189, 68, 44, 0) 1000%, rgba(55, 180, 253, 0.319) 5000%);
}
.changeTheme{
    background-color: rgba(255, 255, 255, 0.0);
} */
@media screen and (min-width:600px) {
    #menuicon{
        width: 60px;
    }
    #birthTicker{
        width: 0;
    }
    #birthTicker h2{
        font-size: 18vw;
    } 
    #birthTicker div{
        padding: min(2vh,8px) 10px min(2vh,16px);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: max(8px,2vw);
        width: 24vw;
    }
    .betterExperienceMsg{
        top:75vh;
    }
}
@media screen and (orientation:landscape) and (min-width:1000px) and (min-height:500px) {
    .about,.themes,.profile,.setupForm{
        top:150%;
    }
    @keyframes optionsInfoIn {
        from {
            height: 7vh;
            top:90%
        }
        to{
            height: 70vh;
            top: 150%;
        }
    }
}
@media screen and (min-width:1000px){
    #menuicon{
        width: 60px;
    }
    #menuClose{
        left: 45%;
    }
    .about,.themes,.profile,.setupForm{
        left:50%;
    }
    #birthTicker{
        display: flex;
        width: auto;
    }
    #birthTicker div{
        padding: min(2vh,8px) 0 min(2vh,16px);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: max(8px,1vw);
        width: 25vw;
    }
    #birthTicker h2{
        font-size: 9vw;
    }
    #birthTicker p{
        font-size: 2vw;
    }    
    #birthTicker div#mili{
        display: inline-block;
        display: none;
    }
    .betterExperienceMsg{
        top:73vh;
    }

}
@media screen and (orientation:landscape) and (max-width:1000px){
    nav h1#title{
        font-size: 4vw;
        margin-top: 1vh;
    }
    body{
        overflow: hidden;
    }
    .menu{margin-top: 2vh;}
    #menuicon{
        width: 5vw;
        height: 4vw;
    }
    .menuitem svg{width: 4vw;}
    .menuitem{
        width: 8vw;
        padding: 1vw 0;
        border-radius: 1vw;
    }
    .menuitem h4{font-size: 1.5vw;margin-top: 2px;}
    #menuClose{
        width: 3.5vw;
        left: 45%;
    }
    .about,.themes,.profile,.setupForm{
        height: 55vh;
        left:50%;
        font-size: 2.5vw;
        top: max(100%,100px);
    }
    .profile .profileInfo{
        font-size: 2.5vw;
    }

    .setupForm{
        text-align: center;
    }
    .setupForm label{
        width: 45%;
        margin: 6vh 0;
        display: inline-block;
        font-size: 3vw;
    }
    .setupForm input{
        height: 10vh;
        width: 50%;
        display: inline-block;
    }
    .profile button, #setBtn{
        display: block;
        font-size: 2vw;
        width: 20%;
        height: 20%;
    }
    .themes{font-size: 2.5vw;}
    .themes div input{
        min-width: 3vw;
        min-height: 3vw;
        margin-top: 3vh;
    }
    .themes hr{width:15vw;height: 1px;opacity: .3;margin: auto;}
    #birthTicker{
        margin: 5vh auto 3vh;
        display: flex;
        width: auto;
    }
    #birthTicker div{
        padding: min(2vh,8px) 0 min(2vh,16px);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 1.5vw;
        width: 25vw;
    }
    #birthTicker h2{
        font-size: 6vw;
    }
    #birthTicker p{
        font-size: 1.8vw;
    }    
    #birthTicker div#mili{
        display: inline-block;
        display: none;
    }
    .clock{
        font-size: 2vw;
    }
    #closeOption{
        width: 3.5vw;
        bottom: -75vh;
    }
    .profileSetupMsg{
        top: -100vh;
    }
    .betterExperienceMsg{
        top:43vh;
    }
    @keyframes optionsInfoIn {
        from {
            height: 7vh;
            top:90%
        }
        to{
            height: 55vh;
            top: max(110%,100px);
        }
    }
    @keyframes optionsInfoOut{
        from {
        }
        to{
            height: 0vh;
            visibility: hidden;
            top: 85%;
        }
    }
}